project:
  type: website
  output-dir: ../docs

website:
  title: "OWL"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: https://github.com/mdlacasse/OWL
        text: Repository

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

